@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AppString.LogHeader</h2>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    $("#buttonPrint").live("click", function () {
        var divContents = $("#divcontainer").html();
        var Wprint = window.open('', '', 'height=960,width=1080');
        Wprint.document.write('<html><head><title>Sogeti Driver Journal</title>');
        Wprint.document.write('</head><body >');
        Wprint.document.write(divContents);
        Wprint.document.write('</body></html>');
        Wprint.document.close();
        Wprint.print();
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Resources.AppString.Filter &nbsp;<input type="button" class="btn btn-sm btn-default" id="toggleFiltersButton" value="Show" />
            </div>
            <div class="panel-body" id="filtersBody">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="filterDateStart">@Resources.AppString.StartDate</label>
                        <div class="input-group date datetimepicker" id="filterDateStart">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="filterDateEnd">@Resources.AppString.EndDate</label>
                        <div class="input-group date datetimepicker" id="filterDateEnd">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="filterCar">@Resources.AppString.Car</label>
                        <input type="text" id="filterCar" class="form-control" />
                    </div>

                    <div class="form-group col-md-3">
                        <label for="filterUser">@Resources.AppString.User</label>
                        <input type="text" id="filterUser" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="filterShowUncompleted">@Resources.AppString.ShowUncompletedReports</label>
                        &nbsp;
                        <input type="checkbox" id="filterShowUncompleted" class="form-control-static" />
                    </div>
                    <div class="form-group col-md-3"></div> <!-- Empty for layout reasons -->
                    <div class="form-group col-md-3"></div> <!-- Empty for layout reasons -->
                    <div class="form-group col-md-3"></div> <!-- Empty for layout reasons -->
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <input class="btn btn-default" id="applyFiltersButton" type="button" value="@Resources.AppString.ApplyFilters" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="divcontainer">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.AppString.User
                        <a href="#" class="sort-arrow" data-col="user" data-desc="true">&#x25B2;</a>
                    </th>
                    <th>
                        Odometer start
                    </th>
                    <th>
                        Odometer end
                    </th>
                    <th>
                        @Resources.AppString.Date
                        <a href="#" class="sort-arrow" data-col="date" data-desc="false">&#x25BC;</a>
                    </th>
                    <th>
                        From
                    </th>
                    <th>
                        To
                    </th>
                    <th>
                        Travelers
                    </th>
                    <th>
                        @Resources.AppString.Project
                        <a href="#" class="sort-arrow" data-col="project" data-desc="true">&#x25B2;</a>
                    </th>
                    <th>
                        Deb Y/N
                    </th>
                    <th>
                        No of km
                    </th>
                    <th>
                        Purpose/Company
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="table-container">
                @Html.Partial("_LogTable", ViewData["LogList"])
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-9 col-md-3">
        <div class="col-md-7">
            @using (Html.BeginForm("ExportData", "Log", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <input type="text" name="startDate" id="startDateField" hidden value="" />
                <input type="text" name="endDate" id="endDateField" hidden value="" />

                <input type="submit" name="Export" class="btn btn-success" id="Export" value="@Resources.AppString.ExportExcel" />



            }
        </div>
        <div class="col-md-5">
            <input type="button" class="btn btn-default" value="@AppString.Print" id="buttonPrint" />
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/script-log")
}

@section Styles {
    @Styles.Render("~/Content/bootstrap-datetimepicker")
    @Styles.Render("~/Content/css-typeahead")
}
