@model List<korjornalen.Models.Project>

@{
    ViewBag.Title = @Resources.AppString.AdministerProjects;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AppString.AdministerProjects</h2>
<hr />
<div class="row">
    <div class="col-md-2">
        @Html.Partial("_AdminMenu")
    </div>
    <div id="adminList" class="col-md-10">
        <div id="appMessage-container">

        </div>
        <table class="table">
            <tr>
                <th>
                    @AppString.ProjectNumber
                </th>
                <th>
                    @AppString.Name
                </th>
                <th>
                    @AppString.Active
                </th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].ProjectNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Name)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => Model[i].Active, new { htmlAttributes = new { @onclick = "UpdateStatus('project', 'active', '" + @Model[i].Id + "', this)" } })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Content/script-adminlists")
}